[{{ (joinPath (trimPrefix (toString .chezmoi.destDir) (env "XDG_CONFIG_HOME") | trimPrefix "/") "zsh" "autosuggestions") | quote }}]
type = "archive"
url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
include = ["*/*.zsh", "*/.version", "*/.revision-hash", "*/src/**"]

[{{ (joinPath (trimPrefix (toString .chezmoi.destDir) (env "XDG_CONFIG_HOME") | trimPrefix "/") "zsh" "completions") | quote }}]
type = "archive"
url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
include = ["*/src/**"]

[{{ (joinPath (trimPrefix (toString .chezmoi.destDir) (env "XDG_CONFIG_HOME") | trimPrefix "/") "zsh" "syntax-highlighting") | quote }}]
type = "archive"
url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"
include = ["*/*.zsh", "*/.version", "*/.revision-hash", "*/highlighters/**"]
